 header nav {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  //padding-top: 17px;
 
  @media @mobile {
    font-size: 100%;
  }
  
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #f3e367;
    &:hover{
      color: #e8e8e8;

    }
}

 

.navtop {
  display: flex;
  align-items: flex-end;
  
  justify-content: space-between;
  width: 100%;
  z-index: 100%;
  background-image: linear-gradient(rgba(5, 5, 3, 0), rgba(18, 19, 3, 0.966));
  position: absolute;
  top: 0;
  
}

header h1 {
  color: #f3e367;
  font-size: 50px;
  padding-left: 20px;

  @media @mobile {
    font-size: 100%;
  }
}